.btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 12px;
  padding: 7px 10px 7px 10px;
  &:focus {
    outline: none;
  }
}
.btn-primary {
  background-color: $primary;
  border-radius: 2px;
  width: 100%;
  &:disabled {
    background-color: lighten($color: $primary, $amount: 15);
  }
  &:hover {
    background-color: darken($color: $primary, $amount: 15);
    transition: 0.4s ease;
  }
}
.btn-block{
  width: 100%;
}
//Google Button
