.journal__main-content {
  display: flex;
  height: 100%;
  width: 100%;
}
.journal__sidebar {
  z-index: 1;
  background-color: $light-grey;
  color: $primary;
  display: flex;
  box-shadow: -5px 0px 8px 5px #534d6b;

  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  width: 450px;
}
.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}
.journal__sidebar-navbar h3 {
  font-weight: lighter;
}
.journal__new-entry {
  align-items: center;
  color: $primary;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  transition: color 0.5s ease;
  &:hover {
    color: lighten($primary, $amount: 20);
  }
}
.journal__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  margin-right: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-y: scroll;
}
.journal__entry {
  background-color: white;
  border-radius: 4px;
  color: $dark-grey;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}
.journal__entry-picture {
  height: 75px;
  width: 75px;
}
.journal__entry-body {
  padding: 10px;
}
.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal__entry-content {
  font-size: 10px;
}
.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    font-size: 12px;
  }
  width: auto;
}
